<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.linerotech.quizkampen">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuizKampen">
        <activity
            android:name=".activitys.GameActivity"
            android:exported="true" />
        <activity android:name=".activitys.ResultActivity" />
        <activity android:name=".activitys.CreateAccount" />
        <activity android:name=".activitys.ProfilePageActivity" />
        <activity android:name=".activitys.LoginPageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>